# Environment variables
.env    

# Composer dependencies
/vendor
composer.lock

# PHPMailer
/vendor/phpmailer

# PHPMailer lsogs
/vendor/phpmailer/logs

# PHPMailer cache
/vendor/phpmailer/cache

# PHPMailer logs
/vendor/phpmailer/logs

# PHPUnit
.phpunit.result.cache
/phpunit.xml


