RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Prevent directory listing
Options -Indexes

# Protect .htaccess file
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Protect config files
<FilesMatch "^(config\.php|tnsnames\.ora)$">
    Order allow,deny
    Deny from all
</FilesMatch> 